body {
  margin: 0 auto;
}

.title {
  font-weight: bolder;
  background: url("./img/wd.jpg");
  background-size: contain;
  font-size: 65px;
  -webkit-text-fill-color: transparent;
  background-clip: inherit;
  -webkit-background-clip: text;
  font-family: 'Bebas Neue', cursive;
}

.contents {
  display: flex;
  justify-content: center;
  width: 100%;
}

#recent-card {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
  justify-content: space-between
}

#add-scores-card {
  width: 40%;
  margin-left: 20px;
}

#history {
  width: 40%;
  margin-right: 20px;
}

#scores-container {
  border-style: solid;
  border-radius: 5px;
}

h1 {
  margin-left: 5%;
  font-family: 'Bebas Neue', cursive;
}

h3 {
  margin: 0;
  padding: 0;
  font-family: 'Bebas Neue', cursive;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 5px;
  font-family: 'Bebas Neue', cursive;
}

#form {
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
  height: 30px;
  width: 100px;
  background-color: aliceblue;
  font-family: 'Bebas Neue', cursive;
  border-radius: 5px;
}

button:hover {
  border: none;
  background-color: black;
  color: aliceblue;
}

input {
  height: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 50%;
  border-radius: 5px;
}

@media (max-width: 750px) {
  .contents {
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
  }

  #add-scores-card {
    margin-top: 20px;
    width: auto;
    margin-left: 0;
  }

  #history {
    width: 80%;
    margin-right: 0;
  }
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #4f5355;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  justify-self: center;
  animation: spin 0.5s linear infinite;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
